.tops {
  width: 60%;
  margin: auto;
  padding: 10px;
  background-color: $white;
  border: 1px solid $neutral-grey;
  @include border-radius(3px);
  .top {
    margin: 10px 0;
    float: left;
    width: 45%;
    text-align: center;
  };
}
.clear {
  clear: both;
}