<div class="pagination">
    <ul>
        {% if pagination.current > 5 %}
            <li><a href="/brand/1">1</a></li>
            <li>....</li>
        {% endif %}
        {% for page in pagination.list %}
            <li><a class="{% if page == pagination.current %}current{% endif %}" href="/brand/{{ page }}">{{ page }}</a></li>
        {% endfor %}
        {% if pagination.current < (pagination.last - 3) %}
            <li>....</li>
            <li><a href="/brand/{{ pagination.last }}">{{ pagination.last }}</a></li>
        {% endif %}
    </ul>
</div>