.select-wrapper select {
  margin: 0;
  background: $white;
  color: #303030;
  font-size: 15px;
  line-height: 18px;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  width: 100%;
  height: 38px;
  padding: 10px 12px;
  @include box-sizing(border-box);
  @include border-radius(0);
}

.select-wrapper {
  border: 1px solid #5a5a5a;
  position: relative;
  margin: 15px 0 0 10px;
  width: 100%;
  max-width: 250px;
  min-width: 80px;
  height: 38px;
  display: inline-block;
  vertical-align: top;
  &:after {
    content: '';
    color: $white;
    width: 12px;
    height: 25px;
    background: url('#{$images}/drop_icon.png') no-repeat left top;
    right: 10px;
    top: 8px;
    padding: 0;
    position: absolute;
    pointer-events: none;
  }
  &:before {
    content: '';
    right: 0;
    top: 0;
    width: 35px;
    height: 38px;
    background: $black;
    position: absolute;
    pointer-events: none;
    display: block;
    border-left: 1px solid #000;
  }
}

.select-wrapper-half {
  width: 46%;
  margin-left: 0;
}

.select-wrapper-group {
  margin-left: 10px;
  width: 100%;
}