<!DOCTYPE html>
<html>
{% include 'InstaParserBundle:Common:head.html.twig' %}
<body class="skin-blue layout-boxed sidebar-mini">
{% include 'InstaParserBundle:Common:header.html.twig' %}
{% block content %}{% endblock %}
{% include 'InstaParserBundle:Common:footer.html.twig' %}
<div id="popup"></div>
</body>
</html>
