<head>
    <title>{% block title 'Insta Parser' %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/styles.css') }}">
    <script src="{{ asset('public/bundle-app.js') }}" type="text/javascript"></script>
</head>