<header>
    <div class="nav">
        <ul class="menu">
            <li>
                <a href="/">Бренды</a>
            </li>
            <li>
                <a href="/top">Топ</a>
            </li>
        </ul>
        <span class="brand">Instaparser</span>
    </div>
</header>