<header>
    <div class="nav">
        <ul class="menu">
            <li>
                <a href="/">Бренды</a>
            </li>
            <li>
                <a href="/top">Топ</a>
            </li>
            <li>
                <a href="/hashtags">World class хештеги</a>
            </li>
            <li>
                <a href="{{ path('controller.parsing.upload') }}">Upload bloggers</a>
            </li>
            <li>
                <a href="{{ path('controller.parsing.results') }}">Резутаты парсинга</a>
            </li>
        </ul>
    </div>
</header>